
{% if null != Params.personaltoken %}
{% set Infos = Params.personaltoken %}

$('.token-refresh-button').on('click', function(){
	var button = $(this);
	$(button).prop('disabled', true);

	var token_id = $(this).attr('data-token-id');

	var refresh_url = '{{Infos.refresh_token_url|raw}}&token_id=' + token_id;
	$.ajax({
			type: "POST",
			url: refresh_url
			//data: formData,
			//processData: false,
			//contentType: false
		})
		.done(function (data) {
			$(button).prop('disabled', false);
			if (data.result == 'ok')
			{
				var refresh_alert = $('#refresh_token_alert');
				refresh_alert.find('.ibo-alert--body').html(data.message);
				refresh_alert.removeClass('ibo-is-hidden');
			}
			else
			{
				alert('KO');
			}
		})
		.fail(function (data) {
			$(button).prop('disabled', false);
		});
});

$('.token-delete-button').on('click', function(){
	var button = $(this);
	$(button).prop('disabled', true);

	var token_id = $(this).attr('data-token-id');
	var deletion_label = $(this).attr('data-deletion-label');

	var deletion_popup = $('#deletion_popup');

	deletion_popup.html(deletion_label);
	deletion_popup.dialog( { width:'auto', height: 'auto', closeOnEscape: true, autoOpen:
			true, modal:true,
		buttons: [
			{
				id: "close_button",
				text: "{{ 'UI:Button:Cancel'|dict_s }}",
				click: function() {
					deletion_popup.dialog('close');
				}
			}
			,{
				id: "confirm_deletion_button",
				text: "{{ 'UI:Links:ActionRow:DeleteToken'|dict_s }}",
				click: function() {
					DeleteToken(button, token_id);
				}
			}
		],
	});

	$(button).prop('disabled', false);
	var confirm_deletion_button = $('#confirm_deletion_button');
	confirm_deletion_button.focus();
	confirm_deletion_button.addClass("ibo-is-primary");
});

function DeleteToken(button, token_id){
	var delete_token_url = '{{Infos.delete_token_url|raw}}&token_id=' + token_id;
	$.ajax({
			type: "POST",
			url: delete_token_url
			//data: formData,
			//processData: false,
			//contentType: false
		})
		.done(function (data) {
			$('#deletion_popup').dialog('close');

			if (data.result == 'ok')
			{
				location.reload(true);
			}
			else
			{
				alert('KO');
			}
		})
		.fail(function (data) {
		});
}

$('.token-edit-button').on('click', function(){
	var button = $(this);
	$(button).prop('disabled', true);

	var token_id = $(this).attr('data-token-id');

	var edit_token_url = '{{Infos.edit_token_url|raw}}&token_id=' + token_id ;

	$.ajax({
			type: "POST",
			url: edit_token_url
		})
		.done(function (data) {
			DisplayEditionPopup(data, token_id);
		})
		.fail(function (data) {
		}
	);

	$(button).prop('disabled', false);
});

function DisplayEditionPopup(html, token_id){
	this.dlg = $('<div id="modify_dialog" class="dialog">'+html+'</div>');
	var modifyDialog = this.dlg;

	modifyDialog.find('.cancel').remove();
	modifyDialog.find('.action[type=submit]').remove();

	var save_token_url = '{{Infos.save_token_link|raw}}';
	current_form = modifyDialog.find('form');
	current_form.on('submit',function(event){
		/* stop form from submitting normally */
		event.preventDefault();
		/* get the action attribute from the <form action=""> element */
		var $form = $(this);

		if(CheckFields($form.attr('id'), false))
		{
			var posting = $.post( save_token_url, $form.serialize());

			/* Alerts the results */
			posting.done(function( data ) {
				location.reload(true);
			});
		}
	});

	modifyDialog.dialog( { width:'auto', height: 'auto', title: '', closeOnEscape: true, modal:true,
		close: function () {
			modifyDialog.remove();
		},
		buttons: [
			{
				id: "close_button",
				text: "{{ 'UI:Button:Cancel'|dict_s }}",
				click: function() {
					modifyDialog.dialog('close');
				}
			}
			,{
				id: "confirm_modification",
				text: "{{ 'UI:Links:ActionRow:EditToken'|dict_s }}",
				click: function() {
					current_form.submit();
				}
			}
			,{
				id: "confirm_creation",
				text: "{{ 'UI:Links:ActionRow:AddToken'|dict_s }}",
				click: function() {
					current_form.submit();
				}
			}
		],
	});

	var confirm_modification_button = $('#confirm_modification');
	var confirm_creation_button = $('#confirm_creation');
	if (token_id==="0"){
		//adding a token
		confirm_modification_button.hide();
		confirm_creation_button.focus();
		confirm_creation_button.addClass("ibo-is-primary");
	} else {
		//modifying a token
		confirm_creation_button.hide();
		confirm_modification_button.focus();
		confirm_modification_button.addClass("ibo-is-primary");
	}

	//hide datamodel tab
	modifyDialog.find('.ibo-tab-container--tab-header').each(function(){
		if ($(this).attr('data-tab-id') === "tab_DataModel")
		{
			$(this).hide();
		}
	});
}

{% endif %}
